*:root {
    --naver-color: rgb(90, 196, 95);
    --basic-background-color: rgb(245, 246, 247);
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--basic-background-color);
}

.container {
    height: 100vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#naver {
    color: var(--naver-color);
    font-size: 7vh;
    font-weight: 900;
    margin: 5vh;
    width: 100%;
    text-align: center;
}

#userID, #userPassword {
    height: 70%;
    width: 90%;
    margin-left: 10px;
}

#userID:focus, #userPassword:focus, #userID, #userPassword {
    border: none;
}

.userInput {
    width: 80%;
    height: 40px;
    margin: 5px;
    padding: 3px;
    border: 1px solid var(--naver-color);
    background-color: white;
    display: flex;
    align-items: center;
}

#submit{
    background-color: var(--naver-color);
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-size: 15px;
}

.option{
    display: flex;
    width: calc(80% + 13px);
    height: 20px;
    margin-top: 5px;
    padding: 0;
    justify-content: space-between;
}

.stableContainer{
    display: flex;
    align-items: center;
    margin: 5px 0;
    height: 100%;
}

#loginStable{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid gray;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*rgb(90, 196, 95)*/